

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum<br> Lorem ipsum Lorem ipsum</p>
  <p><%= link_to 'Sign Up', '' , class: 'btn btn-lg btn-default' %></p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images.unsplash.com/photo-1437532437759-a0ce0535dfed?fit=crop&fm=jpg&h=700&q=80&w=1050" alt="...">

      <div class="caption">
        <h3>The recipe</h3>
        <p>...</p>
        <p><%= link_to 'Browser Recipe','', class: "btn btn-primary", role: "button" %></p>
      </div>
      
    </div>
  </div>
</div>
